doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery.js')
        block script
    body
        block content

        #mask.full(style={display: 'block'})
            #diglog


